td {
  font: 200px;
  width: 200px;
  height: 200px;
  font-size: 0;
}

#reset {
  width: 50px;
  height: 20px;
}

#td0 {
  border-right: 5px solid;
  border-bottom: 5px solid;
  float: right;
}

#td1 {
  border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
}

#td2 {
  border-left: 5px solid;
  border-bottom: 5px solid;
}

#td3 {
  border-top: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
}

#td4 {
  border: 5px solid;
}

#td5 {
  border-top: 5px solid;
  border-left: 5px solid;
  border-bottom: 5px solid;
}

#td6 {
  border-top: 5px solid;
  border-right: 5px solid;
}

#td7 {
  border-left: 5px solid;
  border-top: 5px solid;
  border-right: 5px solid;
}

#td8 {
  border-left: 5px solid;
  border-top: 5px solid;
}

button {
  width: 200px;
  height: 200px;
}

.center{
  text-align: center;
}
